<div id="providergeneralinfo" <%= "class='#{float}'" if float %>>
	<h3 class="plain">General Information</h3>
	<div class="row">
		<div class="label"><%=label_tag 'provider_provider_type_name', 'Type:'  %></div>
		<div class="value"><%=text_field_tag 'provider_provider_type_name', provider.provider_type.name , :disabled => true %></div>
	</div>
	<div class="row">
		<div class="label"><%=label_tag 'provider_first_name', 'First Name:'  %></div>
		<div class="value"><%=text_field_tag 'first_name', provider.first_name, :disabled => true %></div>
	</div>
	<div class="row">
		<div class="label"><%=label_tag 'provider_middle_name', 'Middle Name:'  %></div>
		<div class="value"><%=text_field_tag 'middle_name', provider.middle_name, :disabled => true %></div>
	</div>
	<div class="row">
		<div class="label"><%=label_tag 'provider_last_name', 'Last Name:'  %></div>
		<div class="value"><%=text_field_tag 'last_name', provider.last_name, :disabled => true %></div>
	</div>
	<div class="row">
		<div class="label"><%=label_tag 'provider_national_provider_identifier', 'NPI:'  %></div>
		<div class="value"><%=text_field_tag 'national_provider_identifier', provider.national_provider_identifier, :disabled => true %></div>
	</div>
	<div class="row">
		<div class="label"><%=label_tag 'provider_note', 'Note:'  %></div>
		<div class="value"><%=text_area_tag 'patient_note', provider.note, :rows => 10, :readonly=> true  %></div>
	</div>
	<% if navigaiton %>
		<div class="row">
			<%= link_to 'Edit', edit_provider_path(provider) %> |
			<%= link_to 'Providers', providers_url %> |
			<%= link_to 'Back', provider_referrer_url %>
		</div>
	<% end %>
</div>
